body{
    background-image:url(https://egertontm.com/wp-content/uploads/2018/06/blue-gradient-background.png);
    padding-top:30px;
    }
    a{
    text-decoration:none;
    color:white;
    }
    a:hover{
    color:white;
    }
    #_top-bar{
    float:top;
    }
    
    #coderable-title{
    font-family: 'Oswald', sans-serif;
    font-size:35px;
    padding-left:100px;
    }
    #home{
    font-family: 'Roboto', sans-serif;
    font-size:28px;
    padding-left:30%;
    }
    #about{
    font-family: 'Roboto', sans-serif;
    font-size:28px;
    padding-left:50px;
    }
    #contact{
    font-family: 'Roboto', sans-serif;
    font-size:28px;
    padding-left:50px;
    }
    #ab-me{
        font-size: xx-large;
        padding-left: 70px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(32, 31, 31);
    }
    img{
        text-align: center;
        float:center;
       align-items: center;
       padding-left:35%;
       width: auto;
    }
    #_content{
        padding-top: 20px;
    }