body{
    background-image:url(https://egertontm.com/wp-content/uploads/2018/06/blue-gradient-background.png);
    padding-top:30px;
    }
    a{
    text-decoration:none;
    color:white;
    }
    a:hover{
    color:white;
    }
    #_top-bar{
    float:top;
    }
    
    #coderable-title{
    font-family: 'Oswald', sans-serif;
    font-size:35px;
    padding-left:100px;
    }
    #home{
    font-family: 'Roboto', sans-serif;
    font-size:28px;
    padding-left:30%;
    }
    #about{
    font-family: 'Roboto', sans-serif;
    font-size:28px;
    padding-left:50px;
    }
    #contact{
    font-family: 'Roboto', sans-serif;
    font-size:28px;
    padding-left:50px;
    }